<table>
  <thead>
    <tr>
      <th>
        Video history
        <form class="form-inline form-button" #f="ngForm" (submit)="bookmarked(f)">
          <button class="btn bookmark-button" type="submit">
            <img src="assets/bookmark.png" width="30" height="25" alt="Add to the bookmark">
          </button>
        </form>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let history of histories">
      <span (click)="clickHistory(history)">
        <td>
          {{ history.url }}
          <br>
          <em>Date: {{ history.created_at | date:'medium' }}</em>
        </td>
      </span>
    </tr>
  </tbody>
</table>
