form {
  display: flex;
  justify-content: space-between;
}

input {
  width: 74.5% !important;
}

button {
  width: 24.5%;
}

@media (max-width: 500px) {
  button, input {
    font-size: 12px;
  }
}
