<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/" title="Return to the main page">
    ReliefAppsTest
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link mr-sm-2" routerLink="/bookmarks" title="Display all bookmarks">
          Show the bookmarks
          <span class="badge badge-danger">{{ nbBookmarks }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
