<div class="pt-lg-4">
  <table>
    <thead>
      <tr>
        <th>Bookmarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bookmark of bookmarks">
        <span (click)="clickBookmark(bookmark)">
          <td>
            {{ bookmark.url }}
            <br>
            <em>Date: {{ bookmark.created_at | date:'medium' }}</em>
            <form class="form-inline form-button" #f="ngForm" (submit)="deleteBookmark(bookmark)">
              <button class="btn bookmark-delete-button" type="submit">X</button>
            </form>
          </td>
        </span>
      </tr>
    </tbody>
  </table>
</div>
